<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Application Practice</title>
</head>
<body>
<h1>Welcome! This is some information about me!</h1>
<h2>
    <span>Hello! My name is <th:block th:text="${name}">[name]</th:block></span>
</h2>
<h3><span>I am <th:block th:text="${age}">[age]</th:block> years old. </span>
<span> I love to eat <th:block th:text="${favorite_food}">[favorite_food]</th:block>.  </span>
<span>I speak <th:block th:text="${languages}">[languages]</th:block>.</span>
<span>I have <th:block th:text="${pets}">[pets]</th:block>.</span></h3>
</body>
</html>